<div
  class="mainContent col-lg-9 mb-4 tab-content d-none"
  th:fragment="update-menu"
  id="manage-menu"
>
    <script th:src="@{/js/update-menu.js}"></script>
    <link rel="stylesheet" th:href="@{/css/update-menu.css}">
    <h2 class="font-weight-bold mb-4">Menu Details</h2>
    <div class="bg-white shadow-sm rounded-lg p-4 mb-4">
        <div class="input-section mb-3">
            <label class="text-secondary" for="categoryInput">Category Name</label>
            <div class="input-btn d-flex align-items-center justify-content-center">
                <input type="text" id="categoryInput" class="form-control" placeholder="Add New Category">
                <button class="btn btn-primary" id="addCategoryBtn">Add</button>
            </div>
            <div class="accordion" id="categoriesContainer">
                <!-- Accordion items will be dynamically added here -->
            </div>
        </div>
    </div>
</div>