<div class="mainContent col-lg-9 mb-4 tab-content active-content" th:fragment="personal-information" id="personal-information" th:classappend="${param.tab == 'personal-information'} ? 'active-content' : 'd-none'">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="h4 font-weight-bold">Personal Information</h2>
                <button id="personal-edit-info-button" class="btn btn-warning text-white" onclick="toggleEditInfo()"><i class="fas fa-edit"></i></button>
                <button id="personal-save-info-button" type="submit" class="btn btn-warning text-white d-none" form="user-form"><i class="fas fa-save"></i></button>
            </div>
            <form id="user-form" th:action="@{/accounts/updatePersonalInformation}" th:object="${user}" method="post">
                <div class="mt-3">
                    <label class="text-secondary">Username</label>
                    <p class="personal-info-field bg-light p-2 rounded active" th:text="${user.username}"></p>
                    <input class="personal-info-input form-control border rounded mt-1 d-none" type="text" th:field="*{username}" />
                </div>
                <div class="mt-3">
                    <label class="text-secondary">Name</label>
                    <p class="personal-info-field bg-light p-2 rounded active" th:text="${user.firstname}"></p>
                    <input class="personal-info-input form-control border rounded mt-1 d-none" type="text" th:field="*{firstname}" />
                </div>
                <div class="mt-3">
                    <label class="text-secondary">Last Name</label>
                    <p class="personal-info-field bg-light p-2 rounded active" th:text="${user.lastname}"></p>
                    <input class="personal-info-input form-control border rounded mt-1 d-none" type="text" th:field="*{lastname}" />
                </div>
                <div class="mt-3">
                    <label class="text-secondary">Email</label>
                    <p class="personal-info-field bg-light p-2 rounded active" th:text="${user.email}"></p>
                    <input class="personal-info-input form-control border rounded mt-1 d-none" type="email" th:field="*{email}" />
                </div>
                <div class="mt-3">
                    <label class="text-secondary">Phone Number</label>
                    <p class="personal-info-field bg-light p-2 rounded active" th:text="${user.phoneNumber}"></p>
                    <input class="personal-info-input form-control border rounded mt-1 d-none" type="tel" th:field="*{phoneNumber}" />
                </div>
                <div class="mt-3">
                    <label class="text-secondary">Address</label>
                    <p class="personal-info-field bg-light p-2 rounded active" th:text="${user.address}"></p>
                    <input class="personal-info-input form-control border rounded mt-1 d-none" type="text" th:field="*{address}" />
                </div>
            </form>
        </div>
    </div>
</div>