body{
    background-color: #f3f4f6;
    font-family: 'Roboto', sans-serif;
}
.info-field, .info-input {
    display: none;
}
.info-field.active, .info-input.active {
    display: block;
}
#bio-input{
    height: 200px;
}