body {
    background-color: #f3f4f6;
    font-family: 'Roboto', sans-serif;
}

.main {
margin-top: 1.5rem;
}
.rating i{
    color: #ffc107;
}
.card {
background-color: #ffffff;
padding: 2.5rem;
border-radius: 0.5rem;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction:row;
gap: 2.5rem;
justify-content: center;
align-items: center;
}

.menu-card{
  padding-top:0px !important;
}

.card img {
border-radius: 0.5rem;
object-fit: cover;
margin-bottom: 20px;
}
.card .info {
flex: 1;
}
.card .info h2 {
font-size: 2rem;
font-weight: bold;
margin-top: 1.5rem;
}
.card .info p {
color: #4b5563;
margin-top: 0.5rem;
}
.card .info .rating {
display: flex;
align-items: center;
margin-top: 1rem;
}
.card .info .rating i {
color: #fbbf24;
}
.card .info .rating span {
margin-left: 0.25rem;
color: #1f2937;
}
.card .info .rating span:last-child {
color: #6b7280;
}
.card .info .details {
display: flex;
gap: 1.5rem;
margin-top: 1.5rem;
}
.card .info .details .detail {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
background-color: #fef3c7;
padding: 1.5rem;
border-radius: 0.5rem;
text-align: center;
}
.card .info .details .detail p {
color: #4b5563;
}
.card .info .details .detail p:last-child {
font-weight: bold;
}

.menu {
background-color: #ffffff;
border-radius: 0.5rem;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.menu .header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 1.5rem;
}
.menu .header h3 {
font-size: 1.25rem;
font-weight: bold;
}
.menu .items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.menu .item {
background-color: #ffffff;
padding: 1rem;
border-radius: 0.5rem;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.67);
display: flex;
flex-direction: column;
justify-content: space-between;
max-width: 200px;
max-height: 400px;
}
.menu .upper-container{
  height:50%;
}
.menu .item img {
border-radius: 0.5rem;
object-fit: cover;
height: 130px;
width:170px;
}
.menu .item h4 {
font-size: 1rem;
font-weight: bold;
}
.menu .item p {
color: #4b5563;
margin-top: 0.5rem;
font-size:smaller;
}
.menu .item .price-rating {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 5px;
padding-top: 0.5rem;
border-top: 1px solid #e5e7eb;
font-size:smaller;
}
.menu .item .price-rating .price {
display: flex;
align-items: center;
}
.menu .item .price-rating .price span {
color: #f97316;
font-weight: bold;
font-size: larger;
}
.menu .item .price-rating .price .status {
background-color: #d1fae5;
color: #065f46;
font-size: 0.75rem;
font-weight: bold;
margin-left: 0.5rem;
padding: 0.25rem 0.5rem;
border-radius: 0.25rem;
}
.menu .item .price-rating .price .status.sold-out {
background-color: #fee2e2;
color: #b91c1c;
}
.menu .item .price-rating .rating {
display: flex;
align-items: center;
}
.menu .item .price-rating .rating i {
color: #fbbf24;
}
.menu .item .price-rating .rating span {
margin-left: 0.25rem;
color: #1f2937;
}
.menu .item .price-rating .rating span:last-child {
color: #6b7280;
}
.menu .item .add-to-cart {
background-color: #f97316;
color: #ffffff;
padding: 0.5rem 1rem;
border-radius: 0.5rem;
border: none;
cursor: pointer;
margin-top: 1rem;
margin:auto;
font-size: small;

}


div[id^="cart-button-container-"] {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.status {
    font-size: 0.6rem;
    padding: 3px 8px;
    border-radius: 3px;
    color: white;
  }
  .status.veg {
    background-color: #28a745;
  }
  .status.non-veg {
    background-color: #dc3545;
  }

  .cart-btn {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin:4px;
}

.cart-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
