.input-btn{
    height:50px;
    gap:20px;
    width:70%;
}

.food-item-template{
    flex-direction:column;
}

.inner-menu-content{
    gap:10px;
    width: 100%;
}

.action-buttons{
    align-self:end;
}

.outer-header{
    gap:5px;
}

.header-icon-name{
    gap:30px;
}

.header-buttons{
    display: flex;
    gap: 5px;
}

.btn-link{
    gap:30px;
}

.food-info{
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.food-options{
    gap:10px;
}

.food-image-wrapper{
    border: 2px dashed #007bff;
    border-radius: 0.25rem;
    padding: 3.2rem 2.5rem;
    background-color: #e9f7fe;
    text-align: center;
    cursor: pointer;
    align-self:start;
}

.food-image-wrapper i {
    color: #007bff;
}

.dish-name{
    width:100%;
}

.dish-description{
    width: 100%;
}

