<div class="mainContent col-lg-8 mb-4 tab-content d-none" id="menu-details">
    <h2 class="font-weight-bold mb-4">Menu and other operational details</h2>
    <div class="bg-white shadow-sm rounded-lg p-4 mb-4">
        <h3 class="h5 font-weight-bold mb-3">Menu Items<h3 class="h5 font-weight-bold mb-3">
        <div class="input-group mb-3">
            <input type="text" id="categoryInput" class="form-control" placeholder="Add New Category">
            <div class="input-group-append">
                <button class="btn btn-primary" id="addCategoryBtn">Add New Category</button>
            </div>
        </div>
        <div id="categoriesContainer"></div>
    </div>
</div>

<h2 th:text="${kitchen.kitchenName}"></h2>
          <p>Specialty: 
              <span th:each="cuisine, iterStat : ${kitchen.selectedCuisines}">
                  <span th:text="${cuisine}"></span>
                  <span th:if="${!iterStat.last}">, </span>
              </span>
          </p>