<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchenConnect - Chef Profile</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" th:href="@{/images/favicon_io/favicon-16x16.png}">
    <link rel="stylesheet" th:href="@{/css/chef.css}">
</head>
<body>
    <!-- Include Header -->
    <div th:replace="~{fragments/header :: header}"></div>

    <main class="d-flex flex-column align-items-center text-center mt-5">
        <div class="position-relative">
            <img src="https://storage.googleapis.com/a1aa/image/v7J8xImRnQh1Hvm5C0_qWPDO7Sxc0pz_1j58CvLH8d4.jpg" alt="Chef Daniel holding a plate of food" class="profile-img" width="300" height="300">
            <div class="background-text">
                CHEF<br><span th:text="${chef.user.firstname}"></span>
            </div>
        </div>
        <h2 class="mt-4">Chef <span th:text="${chef.user.firstname}"></span></h2>
        <p>Chef's Special : <span th:text="${chef.favouriteDishes}"></span></p>
        <a th:href="@{'/kitchens/' + ${chef.kitchen.kitchenId}}" class="view-kitchen-btn">View Kitchen</a>
        <p class="mt-4 mx-3 px-2 px-md-4 biography-text" th:text="${chef.biography}">
        </p>
        <a href="#" class="text-warning" id="read-more-btn">Read More</a>
        <div class="social-icons mt-4">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus"></i></a>
        </div>
    </main>

    <div class="overlay" id="overlay">
        <div class="overlay-content">
            <span class="close-btn" id="close-btn">&times;</span>
            <h2>Chef <span th:text="${chef.user.firstname}"></h2>
            <p th:text="${chef.biography}"></p>
        </div>
    </div>

    <!-- Include Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>

    <script>
        document.getElementById('read-more-btn').addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById('overlay').style.display = 'flex';
        });

        document.getElementById('close-btn').addEventListener('click', function() {
            document.getElementById('overlay').style.display = 'none';
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>