function placeOrder() {
    const dataElement = document.getElementById("data");
    const userId = dataElement.getAttribute("data-user-id");
    const kitchenId = dataElement.getAttribute("data-kitchen-id");
    const deliveryAddress = document.getElementById('delivery-address').textContent;
    const contactNumber = document.getElementById('contact-display').textContent;
    let orderRequest = {
      userId: userId,
      kitchenId: kitchenId,
      deliveryAddress: deliveryAddress,
      contactNumber: contactNumber,
      totalAmount: parseFloat(
        document
          .querySelector(".order-summary-total-price")
          .textContent.replace("₹", "")
      ),
      items: Array.from(
        document.querySelectorAll(".cart-item-container .item")
      ).map((item) => {
        return {
          foodItemId: parseInt(item.id.replace("item-", "")),
          quantity: parseInt(
            document.getElementById(
              `itemCount-${item.id.replace("item-", "")}`
            ).textContent
          ),
        };
      }),
    };

    fetch("/cart/place", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(orderRequest),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.id) {
          let cartModal = new bootstrap.Modal(
            document.getElementById("cartModal")
          );
          cartModal.show();
        }
      })
      .catch((error) => console.error("Error placing order:", error));
  }