<!-- Rating Stars -->
<div class="text-warning mt-4 d-flex justify-content-center">
  <!-- Star 1 -->
  <i
    th:class="${order.rating >= 1 ? 'fas fa-star text-warning' : 'far fa-star'}"
  ></i>
  <!-- Star 2 -->
  <i
    th:class="${order.rating >= 2 ? 'fas fa-star text-warning' : 'far fa-star'}"
  ></i>
  <!-- Star 3 -->
  <i
    th:class="${order.rating >= 3 ? 'fas fa-star text-warning' : 'far fa-star'}"
  ></i>
  <!-- Star 4 -->
  <i
    th:class="${order.rating >= 4 ? 'fas fa-star text-warning' : 'far fa-star'}"
  ></i>
  <!-- Star 5 -->
  <i
    th:class="${order.rating >= 5 ? 'fas fa-star text-warning' : 'far fa-star'}"
  ></i>
</div>