<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KitchenConnect - Kitchen</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      th:href="@{/images/favicon_io/favicon-16x16.png}"
    />
    <link rel="stylesheet" th:href="@{/css/kitchenpage.css}" />
  </head>
  <body>
    <!-- Include Header -->
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Kitchen Section -->
    <main class="container main">
      <!-- Restaurant Profile and About My Kitchen Combined -->
      <div class="card">
        <div class="flex flex-col items-center">
          <img
            alt="Restaurant"
            class="h-48 w-64 rounded-lg object-cover"
            height="200"
            th:src="@{'/images/kitchens/' + ${kitchen.kitchenImagePath}}"
            width="300"
          />
          <h2 th:text="${kitchen.kitchenName}"></h2>
          <p>
            Specialty:
            <span th:each="cuisine, iterStat : ${kitchen.selectedCuisines}">
              <span th:text="${cuisine}"></span>
              <span th:if="${!iterStat.last}">, </span>
            </span>
          </p>
          <div class="rating">
            <i class="fas fa-star"></i>
            <span th:text="${kitchen.overallRating}"></span>
            <span
              >(<span th:text="${kitchen.totalRatingsCount}"></span>
              reviews)</span
            >
          </div>
        </div>
        <div class="info">
          <h3>About Our Kitchen</h3>
          <p th:text="${kitchen.kitchenDescription}"></p>
          <div class="details">
            <div class="detail">
              <div>
                <p>
                  <i class="fas fa-utensils"></i>
                </p>
                <p>Managed By</p>
              </div>
              <p>
                <a
                  th:href="@{'/chef/' + ${chefId}}"
                  class="text-decoration-none"
                  >Chef <span th:text="${chefName}"></span
                ></a>
              </p>
            </div>
            <div class="detail">
              <div>
                <p>
                  <i class="fas fa-clock"></i>
                </p>
                <p>Delivered In</p>
              </div>
              <p>
                <span
                  th:text="${kitchen.minDeliveryTime} + '-' + ${kitchen.maxDeliveryTime} + ' mins'"
                ></span>
              </p>
            </div>
            <div class="detail">
              <div>
                <p>
                  <i class="fas fa-calendar-check"></i>
                </p>
                <p>Available Days</p>
              </div>
              <p>
                <span th:each="openDay, iterStat : ${kitchen.openDays}">
                  <span th:text="${openDay}"></span>
                  <span th:if="${!iterStat.last}">, </span>
                </span>
              </p>
            </div>
            <div class="detail">
              <div>
                <p>
                  <i class="fas fa-money-bill-wave"></i>
                </p>
                <p>Delivery Fees</p>
              </div>
              <p th:text="'Rs ' + ${kitchen.deliveryFees}"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Menu -->
      <div class="menu">
        <h3>Menu</h3>
        <section class="category" th:each="category : ${menuItems}">
          <div class="header-category">
            <h4 th:text="${category.key}">Category Name</h4>
          </div>
          <div class="items">
            <div class="item" th:each="foodItem : ${category.value}">
              <div>
                <img
                  th:alt="${foodItem.name}"
                  class="card-img-top"
                  th:src="${foodItem.imageUrl}"
                />
                <h4 th:text="${foodItem.name}"></h4>
                <p th:text="${foodItem.description}"></p>
              </div>
              <div class="card-bottom-section">
                <div class="price-rating">
                  <div class="price">
                    <span th:text="'Rs ' + ${foodItem.price}"></span>
                    <span
                      th:class="${foodItem.isVeg} ? 'status' : 'status sold-out'"
                      th:text="${foodItem.isVeg} ? 'Veg' : 'Non-Veg'"
                    >
                    </span>
                  </div>
                  <div class="rating">
                    <i class="fas fa-star"> </i>
                    <span th:text="${foodItem.overallRating}"></span>
                    <span>
                      (<span th:text="${foodItem.ratingCount}"></span>)
                    </span>
                  </div>
                </div>
                <div th:id="'cart-button-container-' + ${foodItem.id}">
                  <th:block th:if="${cartItems.containsKey(foodItem.id)}">
                    <button
                      class="cart-btn"
                      th:onclick="'decreaseCount(' + ${foodItem.id} + ')'"
                    >
                      -
                    </button>
                    <span
                      th:id="'itemCount-' + ${foodItem.id}"
                      class="count"
                      th:text="${cartItems.get(foodItem.id)}"
                    ></span>
                    <button
                      class="cart-btn"
                      th:onclick="'increaseCount(' + ${foodItem.id} + ')'"
                    >
                      +
                    </button>
                  </th:block>
                  <th:block th:unless="${cartItems.containsKey(foodItem.id)}">
                    <button
                      th:id="'addToCart-' + ${foodItem.id}"
                      class="add-to-cart"
                      th:onclick="'toggleCart(' + ${foodItem.id} + ')'"
                    >
                      Add to Cart
                    </button>
                  </th:block>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Bootstrap Modal -->
      <div
        class="modal fade"
        id="cartModal"
        tabindex="-1"
        aria-labelledby="cartModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cartModalLabel">Cart Conflict</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                onclick="cancelAddToCart()"
              ></button>
            </div>
            <div class="modal-body">
              Your cart contains items from another kitchen. Do you want to
              clear the cart and add this item?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                data-bs-dismiss="modal"
                onclick="cancelAddToCart()"
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-success"
                id="confirmAdd"
                onclick="clearCartAndAddItem()"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Include Footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>

    <script></script>

    <script src="/addToCart.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
  </body>
</html>
